.container {
  accent-color: var(--color-accent);
  outline-color: red;
  width: 1.1rem;
  height: 1.1rem;

  transition: all 0.3s ease;
  transform: scale(1);
  box-shadow: none;
}
.container:hover {
  background-color: var(--color-light);
  transform: scale(1.1);
  box-shadow:
    0 2px 4px rgba(0, 0, 0, 0.2),
    0 4px 8px rgba(0, 0, 0, 0.4);
}

.container:active {
  background-color: var(--color-grey-light);
  transform: scale(1.05);
  box-shadow:
    inset 0 2px 4px rgba(0, 0, 0, 0.1),
    inset 0 4px 8px rgba(0, 0, 0, 0.2);
}
